.user-consultation-title-text {
  display: block;
  text-align: right;
  font-weight: bold;
}
.user-consultation-title-text i {
  color: rgb(185, 0, 0);
  margin-left: 10px;
}

.user-consultation-parent {
  width: 97%;
  height: auto;
  border: 3px solid rgb(218, 218, 218);
  padding: 10px;
}
.user-consultation-title-course {
  text-align: right;
  font-size: 15px;

}
.user-consultation-icon-state
{
    font-size: 30px;
    text-align: center;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 450px) {
  .user-consultation-title-course {
    text-align: right;
    font-size: 12px;
  }
  .user-consultation-icon-state
  {
      font-size: 25px;      
  }
}
