
.OtherProduct-title-text
{
    display: block;
    margin-top: 30px;    
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: bold;
}

.myslide
{
  
  width: 250px;
  height: 400px;  
}



.other-product-parent-cards {
  max-width: 1240px;
  min-width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
  margin-bottom: 120px;
  
}
.other-product-parent {
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  
}

.other-product-card {
  height: 250px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  
}
.other-product-card-image-parent {
  height: 150px;
  width: 100%;
}

.other-product-card-image-parent img {
  height: 100%;
  width: 100%;
}

.other-product-off-price {
  position: absolute;
  background-color: red;
  padding: 5px;
  color: #fff;
  left: 0;
  margin-left: 10px;
  margin-top: 8px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
}

.other-product-detail {
  padding: 5px;
}

.other-product-name {
  font-size: 13px;
  text-align: right;
  font-weight: bold;
}

.other-product-parent-tacher {
  direction: rtl;
  text-align: right;
  font-size: 11px;
}
.other-product-parent-tacher i {
  margin-left: 4px;
  color: grey;
}
.other-product-parent-tacher span {
  color: grey;
}

.other-product-parent-price {
  text-align: left;
  direction: rtl;
  margin-top: 10px;
}

.other-product-price-text {
  background: lightgreen;
  padding: 6px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}
.other-product-price-text i {
  font-style: normal;
}

.other-product-line {
  height: 1px;
  width: 100%;
  background-color: rgb(206, 206, 206);
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .other-product-parent-cards {
    padding: 4px;
  }
  .other-product-name {
    font-size: 11px;
  }

  .other-product-parent {
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .other-product-card {
    height: 300px;
    width: 100%;
  }
  .other-product-card-image-parent {
    height: 200px;
    width: 100%;
  }

  .other-product-card-image-parent img {
    height: 100%;
    width: 100%;
  }

  .other-product-off-price {
    font-size: 13px;
  }

  .other-product-detail {
    padding: 5px;
  }

  .other-product-parent-tacher {
    font-size: 11px;
  }

  .other-product-price-text {
    font-size: 12px;
  }
}

@media (min-width: 500px) {
  .other-product-parent-cards {
    padding: 4px;
  }
  .other-product-parent {
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .other-product-card {
    height: 360px;
    width: 100%;
  }
  .other-product-card-image-parent {
    height: 250px;
    width: 100%;
  }

  .other-product-card-image-parent img {
    height: 100%;
    width: 100%;
  }

  .other-product-off-price {
    font-size: 15px;
  }

  .other-product-detail {
    padding: 10px;
  }

  .other-product-parent-tacher {
    font-size: 12px;
  }

  .other-product-parent-price {
    text-align: left;
    direction: rtl;
    margin-top: 15px;
  }

  .other-product-price-text {
    font-size: 14px;    
  }

  .other-product-name {
    font-size: 13px;
  }
}
